<h1 class="text-center mt-4">boop articles</h1>
<p class="text-center mt-4">
  <%= "No boops yet :(" if @articles.empty? %>
</p>
<%= render "pagination" %>
<%= render "article" %>
<%= render "pagination" %>
